<div class="windowJSContainer main">
    <!-- <div class="windowJSSelectContainer">
        <div class="windowJSSelect" value="">
            <div class="windowJSSelectTitle"
                onclick="this.parentElement.setAttribute('value', '');this.parentElement.toggleClass('open')">
                Select...</div>
            <div class="windowJSSelectOption"
                onclick="this.parentElement.querySelector('.windowJSSelectTitle').innerHTML=this.innerHTML;this.parentElement.toggleClass('open');this.parentElement.setAttribute('value', 0)">
                Potato
            </div>
            <div class="windowJSSelectOption"
                onclick="this.parentElement.querySelector('.windowJSSelectTitle').innerHTML=this.innerHTML;this.parentElement.toggleClass('open');this.parentElement.setAttribute('value', 1)">
                Non-Potato
            </div>
        </div>
        <select name="windowJSSelectInput"></select>
    </div> -->
    <input type="text" placeholder="Name of story..." />
    <div class="windowJSTextParagraph">
        I am writing a story, just sit right down. I'll tell you how I ended up living with yo momma!
    </div>
</div>
<div class="windowJSContainer footer">
    <div class="windowJSButton">Submit</div>
    <div class="windowJSButton">Cancel</div>
</div>