<div class="windowJSContainer main">
    <div class="windowJSSelectContainer">
        <div class="windowJSSelect">
            <div class="windowJSSelectTitle" onclick="event.target.parentElement.toggleClass('open')">Select...</div>
            <div class=" windowJSSelectOption">Potato</div>
            <div class="windowJSSelectOption">Non-Potato</div>
        </div>
    </div>
    <div class="windowJSContainer footer">
        <div class="windowJSButton">Click</div>
        <div class="windowJSButton">Click</div>
        <div class="windowJSButton">Click</div>
    </div>
</div>