<div class="windowJSWindow" id="${id}" style="top:${y}px;left:${x}px;width:${width}px;height:${height}px">
    <div class="windowJSTitleBar">
        <div class="windowJSTitleBarTitle">${title}</div>
        <div class="windowJSTitleBarControls">
            <div class="windowJSTitleBarControl minimize">▬</div>
            <div class="windowJSTitleBarControl maximize">◱</div>
            <div class="windowJSTitleBarControl close">x</div>
        </div>
    </div>
    <div class="windowJSContent">
        ${content}
    </div>
    <div class="windowJSWindowBorder right"></div>
    <div class="windowJSWindowBorder left"></div>
    <div class="windowJSWindowBorder top"></div>
    <div class="windowJSWindowBorder bottom"></div>
    <div class="windowJSWindowBorder topright"></div>
    <div class="windowJSWindowBorder topleft"></div>
    <div class="windowJSWindowBorder bottomleft"></div>
    <div class="windowJSWindowBorder bottomright"></div>
</div>